@media only screen and (max-width: 1900px) {}
@media only screen and (max-width: 1520px) {

}
@media only screen and (max-width: 1440px) {
  
}

@media only screen and (max-width: 1320px) {
  
}

@media (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {
   
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 800px) {
  
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 533px) {
    .values-block1_left span{
    height: calc(200px + (277 - 200)*((100vw - 320px) / (533 - 320)));
right: calc(15px + (125 - 15)*((100vw - 320px) / (533 - 320)));
}
.values-block2_right span{
    height: calc(200px + (277 - 200)*((100vw - 320px) / (533 - 320)));
    left: calc(15px + (125 - 15)*((100vw - 320px) / (533 - 320)));
}
.contact-block {
    height: auto;
  }
.contact-block_items{
    flex-direction: column;
}
.contact-block_item{
    margin-bottom: 30px;
}
}

@media only screen and (max-width: 450px) {
    .contact-block_items{
        flex-direction: column;
    }
}

@media only screen and (max-width: 360px) {
    .contact-block_item{
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {}