main {
  width: 1920px;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1296px;
  margin: 0 312px;
}

.conteiner2 {
  width: 1296px;
  margin: 0 312px;
}

.header-page {
  width: 1920px;
  background-color: #ECEEF8;
}

.header-logo img {
  width: 93px;
  height: 30px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu_items .header-menu_item {
  font-family: "Gordita";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #18181B;
  list-style: none;
  margin-right: 40px;
}
.header-menu_items .header-menu_item:hover {
  color: #3F51B5;
}

.header-menu_button {
  width: 140px;
  height: 44px;
}
.header-menu_button .general-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  font-family: "Gordita";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #3F51B5;
  padding: 11px 24px;
  cursor: pointer;
}
.header-menu_button .general-btn:hover {
  background-color: #6876CA;
}

.page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1296px;
  height: 672px;
  margin: 0 285px 0 312px;
}
.page-top .page-top_left {
  width: 407px;
  height: 692px;
  margin: 90px 196px 0 0;
}
.page-top .page-top_right {
  width: 712px;
}
.page-top .page-top_right .page-top_slider {
  width: 712px;
  height: 692px;
}
.page-top .page-top_right .page-top_slider img {
  width: 712px;
  height: 594px;
}

.page-top_title h1 {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 93px;
  color: #18181B;
}

.page-top_text {
  width: 407px;
  margin-bottom: 30px;
}
.page-top_text p {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #60606C;
  line-height: 170%;
}

.page-top_button {
  width: 140px;
  height: 48px;
}
.page-top_button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  font-family: "Gordita";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #3F51B5;
  padding: 11px 24px;
  cursor: pointer;
}
.page-top_button a:hover {
  background-color: #6876CA;
}

.why-vr {
  width: 1920px;
  height: 318px;
  background-color: #6876CA;
}

.why-vr_title h3 {
  font-family: "Gordita";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 170%;
  font-size: 28px;
  padding-top: 63px;
  margin-bottom: 30px;
}

.why-vr_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-vr_column {
  width: 296px;
  min-height: 81px;
  margin-right: 141px;
}
.why-vr_column:last-child {
  margin-right: 0;
}
.why-vr_column span {
  display: block;
  width: 30px;
  height: 3px;
  text-align: left;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}
.why-vr_column p {
  font-family: "Gordita";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 170%;
  font-size: 16px;
}

.solutions {
  margin-top: 100px;
}

.solutions-top {
  width: 854px;
  margin: 0 312px;
  margin-bottom: 46px;
}

.solutions-top_title {
  margin-bottom: 20px;
}
.solutions-top_title h3 {
  font-family: "Gordita";
  font-size: 14px;
  color: #18181B;
  line-height: 170%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.solutions-top_subtitle {
  margin-bottom: 20px;
}
.solutions-top_subtitle h2 {
  font-family: "Gordita";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  color: #18181B;
}

.solutions-top_text {
  width: 652px;
}
.solutions-top_text p {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #60606C;
  line-height: 170%;
}

.solutions-content {
  margin: 0 312px;
}

.content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-bottom: 74px;
}